<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

<soho-icons *ngIf="!useNewIcons"></soho-icons>
<soho-icons-new *ngIf="useNewIcons"></soho-icons-new>

<soho-icons-empty *ngIf="!useNewIcons"></soho-icons-empty>
<soho-icons-empty-new *ngIf="useNewIcons"></soho-icons-empty-new>

<app-masthead-demo></app-masthead-demo>

<nav soho-application-menu class="is-personalizable" [filterable]="true" [openOnLarge]="false"
  [dismissOnClickMobile]="true" (menuVisibility)="onMenuVisibility($event)">
  <div soho-searchfield-wrapper>
    <label class="audible" for="application-menu-searchfield">Search</label>
    <input soho-searchfield id="application-menu-searchfield" [clearable]="true" />
  </div>
  <application-menu-demo></application-menu-demo>
</nav>
<div class="page-container no-scroll">
  <app-header></app-header>
  <div id="maincontent" class="page-container scrollable" role="main">
    <!--<router-outlet></router-outlet>-->
    <ids-container>
      <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
      <ids-layout-grid>
        <ids-text font-size="12" type="h1">Texts / Typography</ids-text>
      </ids-layout-grid>
      <ids-layout-grid>
        <ids-layout-grid-cell>
          <ids-text font-size="72">Size 72</ids-text>
          <ids-text font-size="60">Size 60</ids-text>
          <ids-text font-size="48">Size 48</ids-text>
          <ids-text font-size="40">Size 40</ids-text>
          <ids-text font-size="32">Size 32 (xl)</ids-text>
          <ids-text font-size="28">Size 28</ids-text>
          <ids-text font-size="24">Size 24 (lg)</ids-text>
          <ids-text font-size="20">Size 20</ids-text>
          <ids-text font-size="16">Size 16 (base)</ids-text>
          <ids-text font-size="14">Size 14 (sm)</ids-text>
          <ids-text font-size="12">Size 12 (xs)</ids-text>
          <ids-text font-size="10">Size 10</ids-text>
        </ids-layout-grid-cell>
      </ids-layout-grid>

      <ids-layout-grid>
        <ids-text font-size="12" type="h1">Tags</ids-text>
      </ids-layout-grid>
      <ids-layout-grid>
        <ids-layout-grid-cell>
          <ids-tag>Normal Tag</ids-tag>
          <ids-tag color="secondary">Secondary Tags</ids-tag>
          <ids-tag color="error">Error Tag</ids-tag>
          <ids-tag color="success">Success Tag</ids-tag>
          <ids-tag color="caution">Warning Tag</ids-tag>
          <ids-tag color="#EDE3FC">Custom Tag Color</ids-tag>
          <ids-tag clickable="true" id="ids-clickable-tag">Clickable Tag
            <ids-icon icon="caret-right" size="small"></ids-icon>
          </ids-tag>
          <ids-tag dismissible="true">
              <span>Dismissible Tag 1</span>
              <ids-icon icon="close" size="small" id="ids-closable-btn"></ids-icon>
          </ids-tag>
          <ids-tag dismissible="true">
              <span>Dismissible Tag 2</span>
          </ids-tag>
        </ids-layout-grid-cell>
      </ids-layout-grid>

    </ids-container>
  </div>
</div>
<div soho-personalize (changetheme)="onChangeTheme($event)"></div>
